.banner {
  @mixin size {
    width: 100%;
    height: 720px;
  }

  @include size();
  background: var(--Secondary-300, #648a7c);
  position: relative;
  overflow: hidden;
  .bg-img {
    @include size();
    object-fit: cover;
    position: relative;
  }
  .content {
    @include size();
    max-width: 1440px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;
    padding-left: 64px;
    padding-top: 120px;
    .left-part {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 2;
      .subtitle {
        color: var(--Other-Orange, #f2bc1b);
        line-height: 150%;
        letter-spacing: 4px;
        margin-bottom: 16px;
      }
      .title {
        color: var(--Neutral-0, #fff);
        font-size: 64px;
        font-weight: 600;
        line-height: 110%;
        letter-spacing: -4px;
        max-width: 674px;
        min-width: 560px;
        margin-bottom: 24px;
      }
      .describes {
        color: var(--Neutral-50, #f4f4f4);
        font-size: 24px;
        line-height: 150%;
        letter-spacing: -0.5px;
        margin-bottom: 102px;
      }
      .discount {
        display: inline-flex;
        align-items: center;
        gap: 32px;
        color: var(--Neutral-0, #fff);
        font-size: 24px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.5px;
        margin-bottom: 40px;
      }
      .vertical-line {
        width: 1px;
        height: 16px;
        background: #9d9ea2;
      }
      .shop-all {
        width: 185px;
        height: 64px;
        padding: 8px 56px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        border-radius: 100px;
        background: var(--Primary-500, #17af26);
        color: var(--Neutral-0, #fff);
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        cursor: pointer;
      }
    }
    .right-part {
      position: absolute;
      right: 0;
      bottom: 0;
      .cubics {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
      }
      .cubics-mini {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .banner {
    @mixin size {
      height: 694px;
    }

    @include size();
    .bg-img {
      @include size();
    }
    .content {
      @include size();
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 56px;
      .left-part {
        display: flex;
        flex-direction: column;
        .subtitle {
          margin-bottom: 12px;
        }
        .title {
          min-width: 0;
          margin-bottom: 16px;
          font-size: 32px;
          line-height: 120%;
          letter-spacing: -1.5px;
        }
        .describes {
          color: var(--Neutral-50, #f4f4f4);
          line-height: 150%;
          letter-spacing: -0.5px;
          font-size: 16px;
          margin-bottom: 40px;
        }
        .discount {
          display: inline-flex;
          align-items: center;
          gap: 32px;
          color: var(--Neutral-0, #fff);
          font-weight: 500;
          line-height: 150%;
          letter-spacing: -0.5px;
          margin-bottom: 24px;
          font-size: 18px;
        }
        .vertical-line {
          width: 1px;
          height: 16px;
          background: #9d9ea2;
        }
        .shop-all {
          display: inline-flex;
          width: 145px;
          height: 56px;
          padding: 0px 40px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          flex-shrink: 0;
          justify-content: center;
          align-items: center;
          border-radius: 100px;
          background: var(--Primary-500, #17af26);
          color: var(--Neutral-0, #fff);
          font-size: 16px;
          font-weight: 500;
          line-height: 150%;
          cursor: pointer;
        }
      }
      .right-part {
        .cubics {
          display: none;
        }
        .cubics-mini {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
        }
      }
    }
  }
}
