.banner {
  @mixin size {
    width: 100%;
    height: 720px;
  }
  @include size();
  background: var(--Secondary-300, #648a7c);
  position: relative;
  .bg-img {
    @include size();
    object-fit: cover;
    position: relative;
  }
  .children {
    @include size();
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
}

@media screen and (max-width: 500px) {
  .banner {
    @mixin size {
      height: 694px;
    }
    @include size();
    .bg-img {
      @include size();
    }
    .children {
      @include size();
    }
  }
}
