.notification {
  background-color: var(--Secondary-500, #05422c);
  display: flex;
  width: 100%;
  padding: 8px 0px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  .description {
    color: #ffffffb2;
  }
  .time-left {
    width: 70px;
    white-space: nowrap;
    color: #ffffff;
    transition: opacity 0.1s ease-in-out;
  }
}

@media screen and (max-width: 500px) {
  .notification {
    padding: 8px 24px;
    gap: 16px;
    font-size: 12px;
    .description {
      max-width: calc(100% - 60px - 24px - 16px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .time-left {
      width: 60px;
    }
  }
}
